@{
    ViewBag.Title = "Currency Converter";
}
<h2>@ViewBag.Title</h2>
@using WebApplication5.Controllers;
@using System.Collections;

@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}

@Scripts.Render("~/Scripts/vendor/d3.v2.js")
@Scripts.Render("~/Scripts/rickshaw.js")


<script>
    var chartData = [];

    var clearChart = function () {
        graph.series.splice(0, graph.series.length);
    }

    var onSuccess = function (data) {
        clearChart();
        $("#result").val(data.convertedCurrency);
        chartData.push({
            data: data.chartData,
            color: "#6060c0",
            name: $("#from option:selected").text() + " / " + $("#to option:selected").text()
        });

        $("#ccaption").html("<b>" + $("#from option:selected").text().toUpperCase() + "</b> to <b>" + $("#to option:selected").text().toUpperCase() + "</b> chart");
        graph.min = data.min;
        graph.max = data.max;
        graph.render();
    }
    function FailMessage() {
        $("#result").val(0);
    }

</script>

@using (Ajax.BeginForm("ConvertCurrency", "Home", new { id = "some" }, new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "onSuccess",
    OnFailure = "FailMessage",
    UpdateTargetId = "result"
}, new { id = "MyNewNameId" })) // set new Id name for  Form
{

    <div class="form-group">
        <table>
            <tr>
                <td>
                    <div class="form-group">
                        @Html.Label("Amount", new { @class = "control-label" })
                        @Html.TextBox("amount", null, new { @class = "form-control", required = "required", type = "number", step = "0.01" })
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label class="control-label" for="form-group-select">Currency</label>
                        <select id="from" name="from" class="form-control">
                            @{
                                var currencies = ((HomeController)this.ViewContext.Controller).GetCurrencyNames();
                            }
                            @foreach (var item in currencies)
                            {
                                <option>@item.Key</option>
                            }
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        @Html.Label("Result", new { @class = "control-label" })
                        @Html.TextBox("result", null, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label class="control-label" for="form-group-select">Currency</label>
                        <select class="form-control" id="to" name="to">
                            @foreach (var item in currencies)
                            {
                                <option>@item.Key</option>
                            }
                        </select>
                    </div>
                </td>
            </tr>
        </table>
        <input class="btn btn-default" type="submit" value="Convert" />

        <div id="ccaption" class="control-label" style="padding-top:15px;padding-bottom:5px;"></div>
        <div id="chart_container">
            <div id="chart"></div>
            <div id="legend_container">
                <div id="smoother" title="Smoothing"></div>
            </div>
            <div id="slider"></div>
        </div>

        <script>
            var graph = new Rickshaw.Graph({
                element: document.querySelector("#chart"),
                width: 350,
                height: 300,
                min: 0,
                max: 0,
                renderer: 'line',
                series: chartData
            });

            new Rickshaw.Graph.HoverDetail({
                graph: graph
            });

            graph.render();

            var hoverDetail = new Rickshaw.Graph.HoverDetail({
                graph: graph
            });

            var ticksTreatment = 'glow';
            var xAxis = new Rickshaw.Graph.Axis.Time({
                graph: graph,
                ticksTreatment: ticksTreatment,
                timeFixture: new Rickshaw.Fixtures.Time.Local()
            });
            xAxis.render();
        </script>
    </div>

}
