@{
    ViewBag.Title = "Currency Converter";
}
<h2>@ViewBag.Title</h2>
@using WebApplication5.Controllers;
@using System.Collections;

@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}

@Scripts.Render("~/Scripts/vendor/d3.v2.js")
@Scripts.Render("~/Scripts/rickshaw.js")


<script>
    var chartData = [];

    var onSuccess = function (data) {
        $("#Text2").val(data.convertedCurrency);
        chartData.push({
            data: data.chartData,
            color: "#6060c0"
        });
        graph.update();
    }
    function FailMessage() {
        alert("Fail Post");
    }

</script>

@using (Ajax.BeginForm("ConvertCurrency", "Home", new { id = "some" }, new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "onSuccess",
    OnFailure = "FailMessage",
    UpdateTargetId = "Text2"
}, new { id = "MyNewNameId" })) // set new Id name for  Form
{

    <div class="form-group">
        <table>
            <tr>
                <td>
                    <div class="form-group">
                        @Html.Label("Amount", new { @class = "control-label" })
                        @Html.TextBox("iname", null, new { @class = "form-control", required = "required", type = "number", step = "0.01" })
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label class="control-label" for="form-group-select">Currency</label>
                        <select id="from" name="from" class="form-control">
                            @{
                                var ccode = ((HomeController)this.ViewContext.Controller).GetCurrencyCodes();
                                var currencies = ((HomeController)this.ViewContext.Controller).GetCurrencyNameFromCode(ccode);
                            }
                            @foreach (var item in currencies)
                            {
                                <option>@item.Key</option>
                            }
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label class="control-label" for="form-group-select">My label</label>
                        <input class="form-control" id="Text2" type="text" disabled />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label class="control-label" for="form-group-select">Currency</label>
                        <select class="form-control" id="to" name="to">
                            @foreach (var item in currencies)
                            {
                                <option>@item.Key</option>
                            }
                        </select>
                    </div>
                </td>
            </tr>
        </table>
        <input class="btn btn-default" type="submit" value="Convert" />
        <div id="chart"></div>

        <script>
            var graph = new Rickshaw.Graph({
                element: document.querySelector("#chart"),
                width: 300,
                height: 200,
                renderer: 'line',
                series: chartData
            });
            graph.render();
        </script>
    </div>

}
